<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- A camera e usada apenas para capturar a foto que sera analisada. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Camera opcional: o app funciona (via galeria) em aparelhos sem ela. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- Permissoes que o plugin de camera declara e este aplicativo nao usa.

         RECORD_AUDIO: a camera e aberta com `enableAudio: false` e nada aqui
         grava som. Declarada, ela aparece na ficha da loja e na tela de
         permissoes do sistema como "microfone", para um aplicativo que
         fotografa escorpioes.

         WRITE_EXTERNAL_STORAGE: a captura e gravada no cache interno do
         aplicativo, que nao precisa de permissao. READ_EXTERNAL_STORAGE vinha
         junto, implicada pela de escrita; a galeria e aberta pelo seletor do
         sistema, que tambem nao precisa dela.

         `tools:node="remove"` tira a declaracao na mesclagem dos manifestos.
         Se uma versao futura passar a gravar video com som, esta linha sai. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />

    <application
        android:label="Scorpions"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="false">
        <!-- allowBackup=false (MASVS-STORAGE-2): o backup do Android levaria
             junto o cache do Firestore, que guarda o perfil e o historico do
             usuario, e o token de sessao. Nada aqui precisa sobreviver a uma
             troca de aparelho: o historico vive no Firestore e volta no
             primeiro login.

             usesCleartextTraffic=false e explicito de proposito. O padrao do
             Android 9+ ja e esse, mas declarar transforma uma garantia que
             depende da versao do sistema em uma garantia do aplicativo. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
